# Build files
main
main_debug

# Object files
*.o
*.obj

# Static and dynamic libraries
*.a
*.lib
*.so
*.dylib
*.dll

# Debug files
*.dSYM/

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db
